<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fun4g.emailjob.iDao.TJobMapper" >
  <resultMap id="BaseResultMap" type="com.fun4g.emailjob.model.TJob" >
    <id column="job_id" property="jobId" jdbcType="INTEGER" />
    <result column="job_title" property="jobTitle" jdbcType="VARCHAR" />
    <result column="job_desc" property="jobDesc" jdbcType="VARCHAR" />
    <result column="job_email_title" property="jobEmailTitle" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    job_id, job_title, job_desc, job_email_title, project_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_job
    where job_id = #{jobId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_job
    where job_id = #{jobId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fun4g.emailjob.model.TJob" >
    insert into t_job (job_id, job_title, job_desc, 
      job_email_title, project_id)
    values (#{jobId,jdbcType=INTEGER}, #{jobTitle,jdbcType=VARCHAR}, #{jobDesc,jdbcType=VARCHAR}, 
      #{jobEmailTitle,jdbcType=VARCHAR}, #{projectId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.fun4g.emailjob.model.TJob" >
    insert into t_job
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="jobId != null" >
        job_id,
      </if>
      <if test="jobTitle != null" >
        job_title,
      </if>
      <if test="jobDesc != null" >
        job_desc,
      </if>
      <if test="jobEmailTitle != null" >
        job_email_title,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="jobId != null" >
        #{jobId,jdbcType=INTEGER},
      </if>
      <if test="jobTitle != null" >
        #{jobTitle,jdbcType=VARCHAR},
      </if>
      <if test="jobDesc != null" >
        #{jobDesc,jdbcType=VARCHAR},
      </if>
      <if test="jobEmailTitle != null" >
        #{jobEmailTitle,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fun4g.emailjob.model.TJob" >
    update t_job
    <set >
      <if test="jobTitle != null" >
        job_title = #{jobTitle,jdbcType=VARCHAR},
      </if>
      <if test="jobDesc != null" >
        job_desc = #{jobDesc,jdbcType=VARCHAR},
      </if>
      <if test="jobEmailTitle != null" >
        job_email_title = #{jobEmailTitle,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
    </set>
    where job_id = #{jobId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fun4g.emailjob.model.TJob" >
    update t_job
    set job_title = #{jobTitle,jdbcType=VARCHAR},
      job_desc = #{jobDesc,jdbcType=VARCHAR},
      job_email_title = #{jobEmailTitle,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=INTEGER}
    where job_id = #{jobId,jdbcType=INTEGER}
  </update>
</mapper>